<div style="width: 100%;">

    <style>
        .kolos-tree {
        }
        .kolos-tree .tr-node {
        }

        .kolos-tree .tr-caption {
            line-height: 25px;
            cursor: pointer;
        }
        .kolos-tree .tr-caption:hover {
            background: #d3ecff;
        }
        .kolos-tree .tr-caption.sel {
            background: #d3ecff;
        }

        .kolos-tree .tr-child {
            margin-left: 18px;
        }
    </style>

    <div id="content" class="kolos-tree debug1" style="width: 300px;"></div>


    <br><br>

    <div class="frame">
        <i class="icon-m">chevron_right</i>
        <i class="icon-m">expand_more</i>

        <br><br>

        <i class="icon-m">check_box_outline_blank</i>
        <i class="icon-m">check_box</i>
        <i class="icon-m">circle</i>
        <i class="icon-m">auto_awesome_motion</i>
        <i class="icon-m">feed</i>
    </div>


</div>