.main-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    /*margin-top: 30px;*/
    margin-top: 2px;
    font-family: 'Montserrat', sans-serif;
    /* Для выравнивания меню по центру
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    */
}
.main-menu > li {
    display: inline-flex;
}
.main-menu > li + li {
    margin-left: 20px;
}
.main-menu > li > a {
    padding: 0 0 5px 0;
    position: relative;
    /*color: #000;*/
    letter-spacing: 0.2px;
    /*font-weight: bold;*/
    /*font-size: 15px;*/
    /*text-transform: uppercase;*/
    text-decoration: none;
}
.main-menu > li > a:hover {
    text-decoration: none;
    color: #464646;
}
.main-menu > li > a:after {
    width: 0;
    height: 1px;
    background-color: #464646;
    content: '';
    left: 0;
    bottom: 2px;
    position: absolute;
    /*transition: all .3s;*/
}
.main-menu > li > a:hover::after {
    width: 100%;
}
.main-menu > li.active a:after {
    width: 100%;
}
.main-menu li {
    margin: 0;
    white-space: nowrap;
}
.main-menu li.menu-children {
    position: relative;
    margin-right: 12px;
}
.main-menu li.menu-children:after {
    position: absolute;
    content: "\2039";
    color: #464646;
    font-size: 20px;
    font-weight: bold;
    right: -12px;
    top: -2px;
    transform: rotate(-90deg);
}
.main-menu li li.menu-children:after {
    position: absolute;
    content: "\2039";
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    right: 10px;
    top: 5px;
    transform: rotate(180deg);
}
.main-menu li.menu-children:hover > ul {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
.main-menu ul {
    /*padding: 10px 0;*/
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: #464646;
    position: absolute;
    z-index: 20;
    min-width: 220px;
    top: 100%;
    /*left: -30px;*/
    /*left: -10px;*/
    opacity: 0;
    visibility: hidden;
    transform: translateY(5px);
    /*transition: all 200ms cubic-bezier(0.43, 0.59, 0.16, 1.25);*/
}
.main-menu ul li {
    display: block;
    /*padding: 0 10px;*/
    line-height: 1.1;
}
.main-menu ul li:last-child {
    margin-bottom: 0;
}
.main-menu ul li a {
    display: block;
    color: #fff;
    padding: 7px 5px;
    /*transition: all .3s;*/
    text-decoration: none;
}
.main-menu ul li a:hover {
    color: #464646;
    background: #FFF;
    text-decoration: none;
}
.main-menu ul ul {
    top: 0;
    left: 100%;
}